<div class="row">
    <div class="col-md-12">
        <nb-card accent="success">
            <nb-card-header class="text-center">
                <img src="/images/logo.png" class="rounded mx-auto d-block" alt=""> Register
            </nb-card-header>
            <nb-card-body>
                <form #userForm="ngForm" (ngSubmit)="onFormSubmit()">

                    <div class="form-group">
                        <label for="name">Name: </label>
                        <input type="name" id="name" #name="ngModel" class="form-control" name="name" [class.is-invalid]="name.invalid && name.touched"
                            [class.is-valid]="name.valid && name.touched" [(ngModel)]="userModel.name" required>
                        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
                    </div>

                    <div class="form-group">
                        <label for="email">Email: </label>
                        <input type="email" id="email" #email="ngModel" class="form-control" name="email" [class.is-invalid]="email.invalid && email.touched"
                            [class.is-valid]="email.valid && email.touched" [(ngModel)]="userModel.email" required>
                        <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required</small>
                    </div>

                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="password" id="password" name="password" class="form-control" #password="ngModel" [class.is-invalid]="password.invalid && password.touched"
                            [class.is-valid]="password.valid && password.touched" [(ngModel)]="userModel.password" required>
                        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Required</small>
                    </div>
                    <button class="btn btn-outline-primary" [disabled]="userForm.form.invalid" type="submit">Register</button>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>